<h3>All books are being borrowed</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>User</th>
      <th>Due date</th>
      <th>Request</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% get_borrowings.each do |e| %>
      <tr>
        <td><%= Book.find_by(id: e.book_id).title %></td>
        <td><%= Book.find_by(id: e.book_id).author %></td>
        <td><%= User.find_by(id: e.user_id).name %></td>
        <td><%= e.due_time %></td>
        <td><%=  %></td>
        <td>
          <%= form_for e, method: :patch do |f| %>
            <%= hidden_field_tag :verify, true %>
            <%= hidden_field_tag :user_id, e.user_id %>
            <%= hidden_field_tag :book_id, e.book_id %>
            <%= f.submit "Approve", class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <%= form_for e, method: :delete do |f| %>
            <%= hidden_field_tag :deny_verify, true %>
            <%= hidden_field_tag :user_id, e.user_id %>
            <%= hidden_field_tag :book_id, e.book_id %>
            <%= f.submit "Deny", class: 'btn btn-warning' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>    
