<tr>
  <td><%= book.id %></td>
  <td><%= link_to book.title, book %></td>
  <td><%= book.publisher %></td>
  <td><%= book.year %></td>
  <td><%= book.availability %></td>

  <% if current_user_admin? %>
    <td>
      <%= link_to "Edit", edit_book_path(book), class: 'btn btn-primary' %>
    </td>
    <td>
      <%= link_to "Delete", book, method: :delete, 
                                  data: { confirm: "You sure?" },
                                  class: 'btn btn-danger' %>
    </td>
  <% else %>
    <td>
      
    </td>
  <% end %>
</tr>